<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>level0</string>
		<key>player</key>
		<integer>0</integer>
		<key>ai</key>
		<integer>540</integer>
		<key>bonus</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level1</string>
		<key>player</key>
		<integer>256</integer>
		<key>ai</key>
		<integer>284</integer>
		<key>bonus</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level2</string>
		<key>player</key>
		<integer>28</integer>
		<key>ai</key>
		<integer>484</integer>
		<key>bonus</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level3</string>
		<key>player</key>
		<integer>0</integer>
		<key>ai</key>
		<integer>540</integer>
		<key>bonus</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level4</string>
		<key>player</key>
		<integer>514</integer>
		<key>ai</key>
		<integer>26</integer>
		<key>bonus</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level5</string>
		<key>player</key>
		<integer>0</integer>
		<key>ai</key>
		<integer>540</integer>
		<key>bonus</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level6</string>
		<key>player</key>
		<integer>268</integer>
		<key>ai</key>
		<integer>272</integer>
		<key>bonus</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level7</string>
		<key>player</key>
		<integer>260</integer>
		<key>ai</key>
		<integer>280</integer>
		<key>bonus</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level8</string>
		<key>player</key>
		<integer>256</integer>
		<key>ai</key>
		<integer>284</integer>
		<key>bonus</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level9</string>
		<key>player</key>
		<integer>256</integer>
		<key>ai</key>
		<integer>284</integer>
		<key>bonus</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level10</string>
		<key>player</key>
		<integer>42</integer>
		<key>ai</key>
		<integer>498</integer>
		<key>bonus</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level11</string>
		<key>player</key>
		<integer>256</integer>
		<key>ai</key>
		<integer>284</integer>
		<key>bonus</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level12</string>
		<key>player</key>
		<integer>258</integer>
		<key>ai</key>
		<integer>282</integer>
		<key>bonus</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level13</string>
		<key>player</key>
		<integer>257</integer>
		<key>ai</key>
		<integer>283</integer>
		<key>bonus</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>level14</string>
		<key>player</key>
		<integer>58</integer>
		<key>ai</key>
		<integer>482</integer>
		<key>bonus</key>
		<integer>1</integer>
	</dict>
</array>
</plist>
